@tailwind base;
@tailwind components;
@tailwind utilities;
/*https://www.reddit.com/r/XWingTMG/comments/94cgg0/xwing_fonts/*/
/*https://github.com/geordanr/xwing-miniatures-font/tree/master/dist*/

/* Pilot/Ship name*/
@font-face {
  font-family: "Bank";
  src: url(/fonts/BankGthd.ttf);
}
/* Abblity and or flavor text*/
@font-face {
  font-family: "Eurostile Demi";
  src: url(/fonts/EurostileDemiOblique.ttf);
  font-style: oblique;
}

@font-face {
  font-family: "Eurostile";
  src: url(/fonts/EurostileOblique.ttf);
  font-style: oblique;
}

@font-face {
  font-family: "W-Wing Loadout";
  src: url(/fonts/xwing-miniatures.ttf);
}
/* Numbers */
@font-face {
  font-family: "Kimberley";
  src: url(/fonts/kimberley.otf);
}

html,
body,
#root {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

html {
  --tw-bg-opacity: 1;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chrome-scrollbar::-webkit-scrollbar {
  height: 0;
}

.scrollbar-none {
  scrollbar-width: none;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.spinner-border {
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
}
